@import "style/car-list-item";

.transparent-background {
    -fx-background-color: transparent;
}

.transparent-rounded-button {
    -fx-cursor: hand;
    -fx-background-radius: 70;
    -fx-border-radius: 70;
    -fx-padding: 0;
    -fx-background-color: #eee;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.application-pane {
    -fx-background-image: url(background.png);
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.purple-background {
    -fx-background-image: url(purple-background.png);
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.rounded {
    -fx-background-radius: 32;
    -fx-border-radius: 32;
}

.splash-box {
    -fx-background-color: #fff;
}

.purple-button {
    &, &-small {
        -fx-padding: 8 14;
        -fx-color: #fff;
        -fx-text-fill: #fff;
        -fx-color-label-visible: #fff;
        -fx-background-color: #3d3642;
        -fx-font-family: "Segoe UI";
        -fx-font-size: 14;
        -fx-cursor: hand;

        &:hover {
            -fx-background-color: #59505e;
        }

        &:pressed {
            -fx-background-color: #1b181e;
        }
    }

    &-small {
        -fx-padding: 4 10;
    }
}

.application-button {
    &, &-small {
        -fx-padding: 8 14;
        -fx-color: #3d3642;
        -fx-text-fill: #3d3642;
        -fx-color-label-visible: #3d3642;
        -fx-background-color: rgba(0, 0, 0, .05);
        -fx-font-family: "Segoe UI";
        -fx-font-size: 14;
    }

    &-small {
        height: 28px;
    }
}

.application-button-small {
    -fx-padding: 4 8;
    -fx-color: #3d3642;
    -fx-text-fill: #3d3642;
    -fx-color-label-visible: #3d3642;
    -fx-background-color: rgba(0, 0, 0, .25);
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14;
}

.application-button:hover {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.application-button:pressed {
    -fx-background-color: rgba(0, 0, 0, .25);
}

.application-button-small:hover {
    -fx-background-color: rgba(0, 0, 0, .35);
}

.application-button-small:pressed {
    -fx-background-color: rgba(0, 0, 0, .40);
}

.application-card, .application-field {
    -fx-background-color: #fff;
    -fx-border-radius: 3;
}

.application-field {
    -fx-border-width: 1;
    -fx-border-color: #3d3642;
}

.application-field-label {
    -fx-text-fill: #3d3642;
}

.application-overlay {
    -fx-background-color: rgba(0, 0, 0, .3);
}

.sidebar-button {
    -fx-background-color: rgba(0, 0, 0, .0);
    -fx-border-width: 0;
    -fx-text-fill: #3d3642;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14;
}

.sidebar-button:hover {
    -fx-text-fill: #9b92a2;
}

.application-content {

}

.content-application {
    -fx-background-color: #fff;
    -fx-background-image: url(transparent-background.png);
    -fx-background-position: center top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.content-application, .remove-focus, .application-content, .application-card, .transparent-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.transparent-field {
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.transparent-field:focused {
    -fx-border-color: #dedede;
}

.transparent-button,
.button-icon {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;

    &:hover {
        -fx-opacity: 0.5;
    }
}

.button-icon {
    -fx-background-size: 24px 24px;
    -fx-background-position: center center;
    -fx-pref-width: 36px;
    -fx-pref-height: 36px;
}

.border {
    -fx-border-width: 1;
    -fx-border-color: #222;
}

.form-field {
    -fx-pref-height: 34;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-color: #fff;
    -fx-border-color: #3d3642;

    &:hover {
        -fx-background-color: #f0f0f0;
    }
}

.radius {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
