.car-list-item {
    -fx-background-color: #fff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    .button-icon {
        -fx-background-image: url(icons/2x/baseline_keyboard_arrow_right_black_18dp.png);
    }

    .image-holder {
        -fx-background-color: #ddd;
        -fx-background-position: center center;
        -fx-background-size: contain;
        -fx-background-repeat: no-repeat;
        -fx-border-radius: 5;
        -fx-background-radius: 5
    }

    &--title {
        -fx-font-size: 18;
        -fx-font-weight: bold;
        -fx-padding: 0 0 4 0;
    }

    &--views {
        -fx-font-size: 14;
        -fx-padding: 0 0 6 0;
        -fx-color: #888;
        -fx-text-fill: #888;
        -fx-color-label-visible: #888;
    }
}

.icon-items {

}

.icon-items-padding {
    -fx-padding: 0 0 14 0;
}

.icon-item {
    -fx-padding: 2 14 2 0;

    &--image {
        -fx-pref-height: 20;
    }

    &--text {
        -fx-padding: 4 0 4 4;
        -fx-color: #666;
        -fx-text-fill: #666;
        -fx-color-label-visible: #666;
        -fx-font-weight: bold;
        -fx-pref-height: 20;
    }
}
